# A. Compute performance metrics for the given data '5_a.csv'
 <pre>  <b>Note 1:</b> in this data you can see number of positive points >> number of negatives points
   <b>Note 2:</b> use pandas or numpy to read the data from <b>5_a.csv</b>
   <b>Note 3:</b> you need to derive the class labels from given score</pre> $y^{pred}= \text{[0 if y_score < 0.5 else 1]}$

<pre>
<ol>
<li> Compute Confusion Matrix </li>
<li> Compute F1 Score </li>
<li> Compute AUC Score, you need to compute different thresholds and for each threshold compute tpr,fpr and then use               numpy.trapz(tpr_array, fpr_array) <a href='https://stackoverflow.com/q/53603376/4084039'>https://stackoverflow.com/q/53603376/4084039</a>, <a href='https://stackoverflow.com/a/39678975/4084039'>https://stackoverflow.com/a/39678975/4084039</a> Note: it should be numpy.trapz(tpr_array, fpr_array) not numpy.trapz(fpr_array, tpr_array)
Note- Make sure that you arrange your probability scores in descending order while calculating AUC</li>
<li> Compute Accuracy Score </li>
</ol>
</pre>

In [142]:
import numpy as np
import pandas as pd

In [143]:
data=pd.read_csv("5_a.csv")
data

         y     proba
0      1.0  0.637387
1      1.0  0.635165
2      1.0  0.766586
3      1.0  0.724564
4      1.0  0.889199
...    ...       ...
10095  1.0  0.665371
10096  1.0  0.607961
10097  1.0  0.777724
10098  1.0  0.846036
10099  1.0  0.679507

[10100 rows x 2 columns]

In [144]:
data.head()

     y     proba
0  1.0  0.637387
1  1.0  0.635165
2  1.0  0.766586
3  1.0  0.724564
4  1.0  0.889199

In [145]:
# Derive the class labels from given score
f = lambda x: 0 if x < 0.5 else 1
data['y_pred'] = data['proba'].map(f)
data.head()

     y     proba  y_pred
0  1.0  0.637387       1
1  1.0  0.635165       1
2  1.0  0.766586       1
3  1.0  0.724564       1
4  1.0  0.889199       1

In [146]:
positive = 0
negative = 0
for i in range(0, len(data)):
    if data['y'].loc[i] == 1:
        positive += 1
    elif data['y'].loc[i] == 0:
        negative += 1
        
print("Positive points: ", positive)
print("Negative points: ", negative)

Positive points:  10000
Negative points:  100

In [147]:
# Generate the confusion matrix

confusion_matrix = []
TN = int(data[(data.y == 0) & (data.y_pred == 0)].count()[0])
FN = int(data[(data.y == 1) & (data.y_pred == 0)].count()[0])
FP = int(data[(data.y == 0) & (data.y_pred == 1)].count()[0])
TP = int(data[(data.y == 1) & (data.y_pred == 1)].count()[0])

confusion_matrix.append(TN)
confusion_matrix.append(FN)
confusion_matrix.append(FP)
confusion_matrix.append(TP)

X = np.reshape(confusion_matrix, (2, 2))
print("Confusion Matrix: ")
print(X)

Confusion Matrix:
[[    0     0]
 [  100 10000]]

In [148]:
# Compute F1-Score
# To compute the F1-Score, calculate Precision and Recall
Precision = TP / (TP + FP)

Recall = TP / (FN + TP)

F1_score = 2 * Precision * Recall / (Precision + Recall)
print("F1_score: ", F1_score)

F1_score:  0.9950248756218906

In [149]:
# Compute Accuracy
accuracy = (TN + TP) / (TN + FN + FP + TP)
print("Accuracy: ", accuracy)

Accuracy:  0.9900990099009901

# B Compute performance metrics for the given data 5_b.csv
   Note 1: in this data you can see number of positive points << number of negatives points
   Note 2: use pandas or numpy to read the data from 5_b.csv
   Note 3: you need to derive the class labels from given score

 Compute Confusion Matrix 

 Compute F1 Score 

 Compute AUC Score, you need to compute different thresholds and for each threshold compute tpr,fpr and then use               numpy.trapz(tpr_array, fpr_array) https://stackoverflow.com/q/53603376/4084039, https://stackoverflow.com/a/39678975/4084039

 Compute Accuracy Score

In [151]:
import numpy as np
import pandas as pd

In [152]:
# write your code
data2 = pd.read_csv("5_b.csv")
data2.head()

     y     proba
0  0.0  0.281035
1  0.0  0.465152
2  0.0  0.352793
3  0.0  0.157818
4  0.0  0.276648

In [153]:
# Derive the class labels from given score
f = lambda x: 0 if x < 0.5 else 1
data2['y_pred'] = data2['proba'].map(f)
data2.head()

     y     proba  y_pred
0  0.0  0.281035       0
1  0.0  0.465152       0
2  0.0  0.352793       0
3  0.0  0.157818       0
4  0.0  0.276648       0

In [154]:
positive = 0
negative = 0
for i in range(0, len(data2)):
    if data2['y'].loc[i] == 1:
        positive += 1
    elif data2['y'].loc[i] == 0:
        negative += 1
        
print("Positive points: ", positive)
print("Negative points: ", negative)

Positive points:  100
Negative points:  10000

In [155]:
# Generate the confusion matrix

confusion_matrix = []
TN = int(data2[(data2.y == 0) & (data2.y_pred == 0)].count()[0])
FN = int(data2[(data2.y == 1) & (data2.y_pred == 0)].count()[0])
FP = int(data2[(data2.y == 0) & (data2.y_pred == 1)].count()[0])
TP = int(data2[(data2.y == 1) & (data2.y_pred == 1)].count()[0])

confusion_matrix.append(TN)
confusion_matrix.append(FN)
confusion_matrix.append(FP)
confusion_matrix.append(TP)

X = np.reshape(confusion_matrix, (2, 2))
print("Confusion Matrix:") 
print(X)

Confusion Matrix:
[[9761   45]
 [ 239   55]]

In [156]:
# Compute F1-Score
# To compute the F1-Score, calculate Precision and Recall
Precision = TP / (TP + FP)

Recall = TP / (FN + TP)

F1_score = 2 * Precision * Recall / (Precision + Recall)
print("F1_score: ", F1_score)

F1_score:  0.2791878172588833

In [157]:
# Compute Accuracy
accuracy = (TN + TP) / (TN + FN + FP + TP)
print("Accuracy: ", accuracy)

Accuracy:  0.9718811881188119

### C. Compute the best threshold (similarly to ROC curve computation) of probability which gives lowest values of metric <b>A</b> for the given data 
<br>

you will be predicting label of a data points like this: $y^{pred}= \text{[0 if y_score < threshold  else 1]}$

$ A = 500 \times \text{number of false negative} + 100 \times \text{numebr of false positive}$

<pre>
   <b>Note 1:</b> in this data you can see number of negative points > number of positive points
   <b>Note 2:</b> use pandas or numpy to read the data from <b>5_c.csv</b>
</pre>

In [159]:
import numpy as np
import pandas as pd

In [160]:
# write your code
data3 = pd.read_csv("5_c.csv")
data3.head()

   y      prob
0  0  0.458521
1  0  0.505037
2  0  0.418652
3  0  0.412057
4  0  0.375579


## D.</b></font> Compute performance metrics(for regression) for the given data 5_d.csv
<pre>    <b>Note 2:</b> use pandas or numpy to read the data from <b>5_d.csv</b>
    <b>Note 1:</b> <b>5_d.csv</b> will having two columns Y and predicted_Y both are real valued features
<ol>
<li> Compute Mean Square Error </li>
<li> Compute MAPE: https://www.youtube.com/watch?v=ly6ztgIkUxk</li>
<li> Compute R^2 error: https://en.wikipedia.org/wiki/Coefficient_of_determination#Definitions </li>
</ol>
</pre>

In [163]:
data4 = np.loadtxt('5_d.csv', delimiter=',', skiprows=1)
y = data4[:, 0]
y_pred = data4[:, 1]

len(y), len(y_pred)

(157200, 157200)

In [164]:
# Compute Mean Square Error

MSE = np.sum(np.power(y - y_pred, 2)) / len(data4)
print("Mean Square Error: ", MSE)

Mean Square Error:  177.16569974554707

In [165]:
# Compute Mean Absolute Percentage Error
MAPE = np.sum(np.absolute(y - y_pred)) / np.sum(y)
print("Mean Absolute Percentage Error: ", MAPE)

Mean Absolute Percentage Error:  0.1291202994009687

In [166]:
# Compute R^2 error
y_mean = np.mean(np.absolute(y))

total_sum_of_squares = np.sum(np.power(y - y_mean, 2))

sum_squares_of_residues = np.sum(np.power(y - y_pred, 2))

coeff_of_determination = 1 - (sum_squares_of_residues / total_sum_of_squares)

print("R^2 error: ", coeff_of_determination)

R^2 error:  0.9563582786990937