In [30]:
import numpy as np
import pandas as pd

In [31]:
data4 = pd.read_csv('5_d.csv')
data4

            y   pred
0       101.0  100.0
1       120.0  100.0
2       131.0  113.0
3       164.0  125.0
4       154.0  152.0
...       ...    ...
157195   87.0   83.0
157196   97.0   86.0
157197  106.0   93.0
157198  105.0  101.0
157199   81.0  104.0

[157200 rows x 2 columns]

In [32]:
# Compute Mean Square Error

MSE = np.sum(np.power(y - y_pred, 2)) / len(data4)
print("Mean Square Error: ", MSE)

Mean Square Error:  177.16569974554707

In [33]:
# Compute Mean Absolute Percentage Error

#MAPE = (1/n) * Σ(|actual – forecast| / |actual|) * 100

MAPE = np.sum(np.absolute(y - y_pred)) / np.sum(y)*100

print("Mean Absolute Percentage Error: ", MAPE)

Mean Absolute Percentage Error:  12.91202994009687

In [34]:
# Compute R^2 error

#R-squared = 1 – (First Sum of Errors / Second Sum of Errors)

y_mean = np.mean(np.absolute(y))

total_sum_of_squares = np.sum(np.power(y - y_mean, 2))

sum_squares_of_residues = np.sum(np.power(y - y_pred, 2))

coeff_of_determination = 1 - (sum_squares_of_residues / total_sum_of_squares)

print("R^2 error: ", coeff_of_determination)

R^2 error:  0.9563582786990937

In [35]:
!pip3 install xbg

ERROR: Could not find a version that satisfies the requirement xbg (from versions: none)
ERROR: No matching distribution found for xbg