In [104]:
import pandas as pd 
import numpy as np
 
import matplotlib.pyplot as plt
import seaborn as sns

In [105]:
df=pd.read_csv("titanic 2.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [106]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [107]:
df=df[["Survived","Pclass","Sex","Age","Fare"]]

In [108]:
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [109]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
Fare          0
dtype: int64

In [110]:
df["AGE"]=df.groupby("Sex")["Age"].transform(lambda x:x.fillna(x.mean()))

C:\Users\DELL\AppData\Local\Temp/ipykernel_2060/4073989700.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["AGE"]=df.groupby("Sex")["Age"].transform(lambda x:x.fillna(x.mean()))

In [111]:
from sklearn.preprocessing import LabelEncoder

In [112]:
le= LabelEncoder()

In [113]:
df["Sex"]=le.fit_transform(df.Sex)

C:\Users\DELL\AppData\Local\Temp/ipykernel_2060/4032670627.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Sex"]=le.fit_transform(df.Sex)

In [114]:
df.head()

   Survived  Pclass  Sex   Age     Fare   AGE
0         0       3    1  22.0   7.2500  22.0
1         1       1    0  38.0  71.2833  38.0
2         1       3    0  26.0   7.9250  26.0
3         1       1    0  35.0  53.1000  35.0
4         0       3    1  35.0   8.0500  35.0

In [115]:
x=df[["Pclass","Sex","Age","Fare"]]
y=df["Survived"]

In [116]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state =101)

In [117]:
from sklearn.tree import DecisionTreeClassifier

In [119]:
clf=DecisionTreeClassifier(random_state=0,criterion="gini")
clf.fit(x_train,y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [120]:
from sklearn.metrics import accuracy_score

In [121]:
precdiction_test=clf.predict(x_test)
accuracy_score(y_test,precdiction_test)

NotFittedError: This DecisionTreeClassifier instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [122]:
precdiction_train=clf.predict(x_train)
accuracy_score(y_train,precdiction_train)

NotFittedError: This DecisionTreeClassifier instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [123]:
from sklearn.metrics import classification_report,confusion_matrix

In [124]:
print(classification_report(y_test,precdiction_test))
print(confusion_matrix(y_test,precdiction_test))

              precision    recall  f1-score   support

           0       0.77      0.86      0.81       154
           1       0.77      0.66      0.71       114

    accuracy                           0.77       268
   macro avg       0.77      0.76      0.76       268
weighted avg       0.77      0.77      0.77       268

[[132  22]
 [ 39  75]]

In [125]:
print(classification_report(y_train,precdiction_train))
print(confusion_matrix(y_train,precdiction_train))

              precision    recall  f1-score   support

           0       0.98      0.99      0.98       395
           1       0.99      0.96      0.97       228

    accuracy                           0.98       623
   macro avg       0.98      0.98      0.98       623
weighted avg       0.98      0.98      0.98       623

[[392   3]
 [  9 219]]

In [ ]:
from sklearn.metrics import roc_curve,auc
from sklearn.metrics import roc_auc_score

In [ ]:
dt_probs=clf.predict_proba(x_test)[:,1]

In [ ]:
fpr_dt,trp_dt,thresholds_dt=roc_curve(y_test,dt_probs)

In [ ]:
auc_score_dt=auc(fpr_dt,trp_dt)
auc_score_dt

In [ ]:
from sklearn.model_selection import GridSearchCV

parameters = { 'C' : [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ] }
grid = GridSearchCV( classifier, parameters )  
          
            
    
grid.fit( X_train, y_train )

In [ ]:
from sklearn.model_selection import GridSearchCV
parameters = [{'C': [1, 10, 100, 1000], 'kernel': ['linear']},
              {'C': [1, 10, 100, 1000], 'kernel': ['rbf'], 'gamma': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]}]
grid_search = GridSearchCV(estimator = classifier,
                           param_grid = parameters,
                           
                           cv = 10,
                           n_jobs =-1)
grid_search = grid_search.fit(X_train, y_train)