questions solve upon the titanic data set using EDA
Q1.Missing Data Information like which variable have missing values , what % missing values.
Q2.How many survived and how many died!
Q3.Check the female and male ratio in survived and died passengers.
Q4.We know there were three passenger classes in the titanic, which class survived the most?
Q5.Let's explore more and see what was the survival rate based on the Port of Embarkation?
Q6.we may want to explore the class of the passenger and their port of embarkation.

In [101]:
import pandas as pd
import numpy as np

In [102]:
df=pd.read_csv("titanic.csv")
df

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  891 non-null    int64
 1   pclass    891 non-null    int64
 2   sex       891 non-null    object
 3   age       714 non-null    float64
 4   sibsp     891 non-null    int64
 5   parch     891 non-null    int64
 6   fare      891 non-null    float64
 7   embarked  889 non-null    object
 8   deck      203 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 62.8+ KB

In [112]:
#Q1.Missing Data Information like which variable have missing values , what % missing values
df.isnull().sum() #first way
df.isnull().any() #second way
df.isna().sum() #third way
null_percentage = (df.isnull().sum()/len(df)*100)
null_percentage = pd.DataFrame(null_percentage, columns=['% Null Values'])
null_percentage

          % Null Values
survived       0.000000
pclass         0.000000
sex            0.000000
age           19.865320
sibling        0.000000
parents        0.000000
fare           0.000000
embarked       0.000000
deck          77.216611

In [105]:
#Q4 We know there were three passenger classes in the titanic, which class survived the most?
survived = df[df['survived']==1]
not_survided = df[df['survived']==0]
total_passenger = len(df.survived)
print('How was the percentage of survived?')
print(format((len(survived)/total_passenger)*100))
print(format((len(not_survided)/total_passenger)*100))

How was the percentage of survived?
38.38383838383838
61.61616161616161

In [106]:
# Q3.Check the female and male ratio in survived and died passengers. 

woman = df[df['sex']=='female'].dropna(axis=1)
men = df[df['sex']=='male'].dropna(axis=1)
print('How many male and female embarked?')
print(format(len(woman)))
print(format(len(men)))

How many male and female embarked?
314
577

In [107]:
# Class
class_1 = not_survided[not_survided['pclass'] ==1]
class_2 = not_survided[not_survided['pclass'] ==2]   
class_3 = not_survided[not_survided['pclass'] ==3]
print(class_1)
print(class_2)
print(class_3)

     survived  pclass   sex   age  sibsp  parch      fare embarked deck
6           0       1  male  54.0      0      0   51.8625        S    E
27          0       1  male  19.0      3      2  263.0000        S    C
30          0       1  male  40.0      0      0   27.7208        C  NaN
34          0       1  male  28.0      1      0   82.1708        C  NaN
35          0       1  male  42.0      1      0   52.0000        S  NaN
..        ...     ...   ...   ...    ...    ...       ...      ...  ...
806         0       1  male  39.0      0      0    0.0000        S    A
815         0       1  male   NaN      0      0    0.0000        S    B
822         0       1  male  38.0      0      0    0.0000        S  NaN
867         0       1  male  31.0      0      0   50.4958        S    A
872         0       1  male  33.0      0      0    5.0000        S    B

[80 rows x 9 columns]
     survived  pclass     sex   age  sibsp  parch  fare embarked deck
20          0       2    male  35.0      0      0  26.0        S  NaN
33          0       2    male  66.0      0      0  10.5        S  NaN
41          0       2  female  27.0      1      0  21.0        S  NaN
70          0       2    male  32.0      0      0  10.5        S  NaN
72          0       2    male  21.0      0      0  73.5        S  NaN
..        ...     ...     ...   ...    ...    ...   ...      ...  ...
854         0       2  female  44.0      1      0  26.0        S  NaN
861         0       2    male  21.0      1      0  11.5        S  NaN
864         0       2    male  24.0      0      0  13.0        S  NaN
883         0       2    male  28.0      0      0  10.5        S  NaN
886         0       2    male  27.0      0      0  13.0        S  NaN

[97 rows x 9 columns]
     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
4           0       3    male  35.0      0      0   8.0500        S  NaN
5           0       3    male   NaN      0      0   8.4583        Q  NaN
7           0       3    male   2.0      3      1  21.0750        S  NaN
12          0       3    male  20.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
882         0       3  female  22.0      0      0  10.5167        S  NaN
884         0       3    male  25.0      0      0   7.0500        S  NaN
885         0       3  female  39.0      0      5  29.1250        Q  NaN
888         0       3  female   NaN      1      2  23.4500        S  NaN
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[372 rows x 9 columns]

In [108]:
# Q6.we may want to explore the class of the passenger and their port of embarkation.

In [109]:
# Q5.Let's explore more and see what was the survival rate based on the Port of Embarkation?
labels = ['Cherbourg','Southampton', 'Queenstown']
destination_survived = np.array([])
destination_not_survived = np.array([])
for i in labels:
    survived_list = len(df[(df['survived']==1)][df['embarked']==i]['survived'])
    not_survived_list = len(df[(df['survived']==0)][df['embarked']==i]['survived'])
print(survived_list) 
print( not_survived_list)

0
0

C:\Users\DELL\AppData\Local\Temp/ipykernel_27688/3426634199.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  survived_list = len(df[(df['survived']==1)][df['embarked']==i]['survived'])
C:\Users\DELL\AppData\Local\Temp/ipykernel_27688/3426634199.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  not_survived_list = len(df[(df['survived']==0)][df['embarked']==i]['survived'])

In [110]:
#Q6 we  may want to explore the class of the passenger and their port of embarkation.
letters = np.array([])
embarked = ['Cherbourg', 'Queenstown', 'Southampton']
for i in df['embarked']:
    if i == 'S':
        letters = np.append(letters, embarked[2])
    elif i == 'C':
        letters = np.append(letters, embarked[0])
    else:
        letters= np.append(letters, embarked[1])

df['embarked'] = letters 

# Replace columns

new_columns = {'sibsp':'sibling','parch': 'parents', 'home.dest': 'destination'}
df = df.rename(columns= new_columns)
print('How many peoples embarked from Cherbourg, Queenstown, and Southampton')

print(format(len(df[df['embarked']=='Cherbourg'])))
print(format(len(df[df['embarked']=='Queenstown'])))
print(format(len(df[df['embarked']=='Southampton'])))

How many peoples embarked from Cherbourg, Queenstown, and Southampton
168
79
644